/** {
	 background-color: #5d77a7; 
	background-color: #fcf195;
}*/

#mycanvas{
	display: inline-block;
	/* background-image: url(greenbackground4.jpg); */
	border: #300808 solid 9px;
	/*margin-left: 25%;*/
	/* width: 90%; */
	/* height: 10% ; */
	/* background-color: #0bad41c0; */
	/* background-color: #000000; */
}

#start_pause{
	display: inline-block;
	border:	#300808 solid 4px;
	font-weight: bold;
	font-size: 16pt;
	padding: 4px ;
}

#controls{
	display: inline-block;
	border:	#300808 solid 4px;
	font-weight: bold;
	font-size: 16pt;
	padding: 4px ;	
}

#level{
	display: inline-block;
	border:	#300808 solid 4px;
	font-weight: bold;
	font-size: 16pt;
	padding: 4px ;
}

#score {
	margin-left: 108px;
	display: inline-block;
	border:	#300808 solid 4px;
	font-weight: bold;
	font-size: 16pt;
	padding: 4px ;
}
