/** {
	 background-color: #5d77a7; 
	background-color: #fcf195;
}*/
#mycanvas{
	display: inline-block;
	/* background-image: url(greenbackground4.jpg); */
	border: #300808 solid 10px;
	/*margin-left: 25%;*/
	/* width: 90%; */
	/* height: 10% ; */
	/* background-color: #0bad41c0; */
	/* background-color: #000000; */
}
#start_pause{
	display: inline-block;
	border:	#300808 solid 5px;
	font-weight: bold;
	font-size: 18pt;
	padding: 5px ;
}
#controls{
	display: inline-block;
	border:	#300808 solid 5px;
	font-weight: bold;
	font-size: 18pt;
	padding: 5px ;	
}
#score {
	margin-left: 8.5%;
	display: inline-block;
	border:	#300808 solid 5px;
	font-weight: bold;
	font-size: 18pt;
	padding: 5px ;
}
#difficulty{
	display: inline-block;
	border:	#300808 solid 5px;
	font-weight: bold;
	font-size: 18pt;
	padding: 5px ;
}