/* class for the top display bar */
.display_bar{
	display: inline-block;
	border:	#300808 solid 4px;
	font-family: Arial, Helvetica, sans-serif;
	/* font-family: Times,'Times New Roman', Georgia,  serif; */
	font-weight: bold;
	font-size: 22px;
	padding: 4px ;
}

#mycanvas{
	display: inline-block;
	/* background-image: url(greenbackground4.jpg); */
	border: #300808 solid 9px;
	/*margin-left: 25%;*/
	/* width: 90%; */
}

/* #score {
	margin-left: 108px;
} */
